.border-none {
  border: none;
}

.border-0 {
  border-width: 0;
}

.border-b-05 {
  border-bottom-width: 0.5rem;
}

.border-orange {
  border-color: $primaryOrange;
}

.border-solid {
  border-style: solid;
}

.outline-none {
  outline: none;
}
