.w-full {
  width: 100%;
}

.max-w-full {
  max-width: 100%;
}

.w-5 {
  width: 5rem;
}

.h-full {
  height: 100%;
}

.object-cover {
  object-fit: cover;
}

.object-contain {
  object-fit: contain;
}